[Unit]
Description=Turing simulator
After=network.target

[Service]
WorkingDirectory=/home/gramos/git/turing-web/
ExecStart=/home/gramos/git/turing-web/dist/build/turing-web/turing-web Production
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
#Alias=turing.service
